.EventList {
  flex-grow: 1;
  position: relative;
  overflow-y: auto;
  transform: translateX(calc(100% + 10px));
  -webkit-transition: transform 0.2s ease-out;
  -moz-transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  font-size: 0.8em;
}

.bookline-show .EventList {
  transform: translateX(0);
}
