.Paragraph { 
  margin: .8em 0; 
} 
.Paragraph:first-child { 
  margin-top: 0; 
} 
.Paragraph:last-child { 
  margin-bottom: 0; 
} 
 
.para-char {
  position: relative;
  cursor: pointer;
  background-color: transparent;
}
.para-char-highlight {
  position: absolute;
  height: 0.1em;
  width: 100%;
  background-color: inherit;
  opacity: 0.1;
  content: ' ';
  left: 0;
  bottom: 0;
  -webkit-transition: opacity 0.2s, background-color 0.2s, height 0.2s;
  -moz-transition: opacity 0.2s, background-color 0.2s, height 0.2s;
  transition: opacity 0.2s, background-color 0.2s, height 0.2s;
  z-index: -1;
}
.para-char.selected:hover .para-char-highlight {
  opacity: 0.3;
}

.para-char.selected .para-char-highlight {
  opacity: 0.5;
}
.para-char.selected:hover .para-char-highlight {
  opacity: 0.8;
}

.bookline-show .para-char.selected .para-char-highlight {
  height: 100%;
}
