.line-item-0 .svg-path {
  fill: #7FB6FF;
  stroke: #0072FF;
}
.line-item-1 .svg-path {
  fill: #FF4E44;
  stroke: #FF0000;
}
.line-item-2 .svg-path {
  fill: #84CD6D;
  stroke: #3CCC0C;
}
.line-item-3 .svg-path {
  fill: #C382CC;
  stroke: #B418CC;
}
.line-item-4 .svg-path {
  fill: #C6CC61;
  stroke: #DCE52D;
}
.line-item-5 .svg-path {
  fill: #70CCA5;
  stroke: #14CC7C;
}
.line-item-6 .svg-path {
  fill: #CC8693;
  stroke: #CC415D;
}
.line-item-7 .svg-path {
  fill: #CC9859;
  stroke: #FF7E26;
}
