.CharacterList {
  /* Reduce font size here */
  font-size: 0.75em;
  display: flex;
  /*justify-content: space-between;*/
}

.CharacterList.wrap {
  flex-wrap: wrap;
}

.CharacterList.vertical {
  flex-direction: column;
  align-items: flex-end;
}

.char {
  background-color: #fff;
  border-radius: 1em;
  margin: .25em;
  box-shadow: 0 0 3px rgba(0,0,0,0.16), 0 0 3px rgba(0,0,0,0.23);
  display: inline-flex;
  -webkit-transition: width .2s, background-color .2s;
  -moz-transition: width .2s, background-color .2s;
  transition: width .2s, background-color .2s;
}

.char-icon {
  height: 2em;
  width: 2em;
  border-radius: 1em;
  transition: opacity 0.2s;
}

.char-img {
  vertical-align: bottom;
}

.char-initial {
  background-color: #333;
  color: #fff;
  display: inline-block;
  text-align: center;
}

.char-initial-content {
  font-size: 1.2em;
}

.vertical .char .char-name {
  order: -1;
}

.char:not(.char-selected) .char-icon {
  opacity: 0.5;
}

.char-name {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.char.selected-0 {
  background-color: #7FB6FF;
}
.char.selected-1 {
  background-color: #FF4E44;
}
.char.selected-2 {
  background-color: #84CD6D;
}
.char.selected-3 {
  background-color: #C382CC;
}
.char.selected-4 {
  background-color: #C6CC61;
}
.char.selected-5 {
  background-color: #70CCA5;
}
.char.selected-6 {
  background-color: #CC8693;
}
.char.selected-7 {
  background-color: #CC9859;
}
