.App {
  /*text-align: center;*/
  height: 100vh;
  line-height: 1.5em;
  font-size: 20px;
  background-color: #fffaf2;
  color: #2b2b2b;
  -webkit-transition: background-color 2s;
  -moz-transition: background-color 2s;
  transition: background-color 2s;
}

.App.reader-active {
  background-color: #000000;
}

.App-ready-modal {
  max-width: 53em;
  margin: 0 auto;
  text-align: center;
  overflow: auto;
}

.App-ready-pid {
  font-size: 1.2em;
  padding: 0.2em;
}

.App-reader-container {
  background-color: #fffaf2;
  max-width: 900px;
  max-height: 100vh;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}
