.App {
  /*text-align: center;*/
  height: 100vh;
  line-height: 1.5em;
  font-size: 20px;
}

.App-ready-modal {
  max-width: 53em;
  margin: 0 auto;
  text-align: center;
}

.App-ready-pid {
  font-size: 1.2em;
  padding: 0.2em;
}

.App-reader-container {
  max-width: 900px;
  max-height: 100vh;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}
